<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">

<title>Error</title>
<link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
</head>
<body>
	<body>
	<h1>Error code: <span th:utext="${error.status}"></span></h1>
	<br>
	Message: <span th:utext="${error.message}"></span>
	<br>
	Time Stamp: <span th:utext="${error.timeStamp}"></span>
	<br>
    </body>
</html>