<!DOCTYPE html>
<html lang="en"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{fragments/layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3>Hello this is a simple demo of spring security accessing a basic CRUD using spring data.</h3>
    <p>This is an unsecured page, but you can access the secured pages after login.
    <br>
    The page layout is done via Thymeleaf templates using Bootstrap</p>
    <div class="container-sm">
    <p>2 users are in the system.
    <br><br>
    <strong>username:</strong>john
    <br>
    <strong>password: </strong> test123
    <br>
    john has only viewing rights.
    <br><br>
    <strong>username: </strong>:mary
    <br>
    <strong>password: </strong>examplepassword
    <br>mary has full CRUD admin access</p>
    </div>
</div>
</body> 	
</html>