<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" >
<head>
<meta charset="utf-8">
<title>Employee List</title>
</head>
<header><h1 class="jumbotron">Add Employee</h1></header>
<body>
<div layout:fragment="content" th:remove="tag">
	<a class="btn btn-success" th:href="@{/employees/list}">Back</a>
	<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
		<table>
			<tr>
				<th><input type="text" th:field="*{firstName}" placeholder="First Name"/></th>
			</tr>
			<tr>
				<th><input type="text" th:field="*{lastName}" placeholder="Last Name" /></th>
			</tr>
			<tr>
				<th><input type="text" th:field="*{email}" placeholder="email" /></th>
			</tr>
			<tr>
				<th><input class="btn btn-dark" value="Submit" type="submit"></th>
			</tr>
		</table>
	</form>
</div>
</body>
</html>